body {
	display: flex;
	flex-direction: column;
	background-color: #FAFAFA;
	width: 100%;
	margin: 0;
}

/*------ Menu fixo ------*/

.header--container {
	position: fixed;
	width: 100%;
	height: 13vh;
	display: flex;
	justify-content: center;
	background-color: #FAFAFA;
}
.header--container_container--psitionHeader {
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
@media (max-width: 425px){
    .header--container_container--psitionHeader{
        width:100%;
        min-height: 10vh;
        background-color: white;
        z-index: 99;
        position: relative;
    }
}
.container--psitionHeader_container--logo {
    width: 20%;
    display: flex;
    justify-content: center;
}
@media (max-width: 425px){
    .container--psitionHeader_container--logo {
        width:auto;
        position: relative;
        margin-left: 7vw;
    }
}

.container--logo_logo--fixed{
    width: 90%
}
@media (max-width: 425px){
    .container--logo_logo--fixed{
        width: 180px;
        padding: 0.5rem;
    }
}
.header--container_container--navegation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
@media (max-width: 425px){
    .header--container_container--navegation{
        display:none;
        min-height: 100vh;
        min-width: 100vw;
        background-color: #FFFFFF;
		flex-direction: column;
		align-items: center;
    }
    .box--list_link{
		font-size: 40px;
		line-height: 100px;
        padding-top: 25px;
        text-decoration: none;
        cursor: pointer;
    }
    .box--list_link:hover{
        color:#000; 
        transform: scale(1.2)
    } 
    #menu-hamburguer{
        display: flex;
        z-index: 10;
        margin-top: 1.5vh;
        margin-right: 5vw;
    }
}
.container--navegation_box--list {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-content: center;
    list-style: none;
    font-size: 19px;
    padding: 0;
}
@media (max-width: 425px){
    .container--navegation_box--list {
      flex-direction: column; 
      height: auto;     
    }
}
.box--list_iten--list {
    color: #266294;
    font-family: 'NunitoSans Regular';
    margin:0 10px;
    text-align: center;
}
@media (max-width: 425px){
    .box--list_iten--list{
       color:#FFFFFF;
    }
}    

#close-hamburguer, #menu-hamburguer{
    display: none;
}
@media (max-width: 425px){
    #menu-hamburguer{
        display: flex;
    }
}    
@media (max-width: 425px){
    .header--container_container--navegation{
        display:none;
        position: absolute;
        min-height: 90vh;
        min-width: 100vw;
        background-color: #164467;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        top: 13vh;
    }
    .box--list_link{
		font-size: 35px;
		line-height: 80px;
        padding-top: 25px;
        text-decoration: none;
        cursor: pointer;
    }
    .box--list_link:hover{
        color:#000; 
        transform: scale(1.2)
    }
}
a { 
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.box--list_iten--listUnderlineNone {
    width: 0;
    height: 0;
    /* transition: width 2s; */
}
.box--list_iten--listUnderline{
    width: 100%;
    height: 0.5vh;
    transition: width 0.5s;
    border-radius: 60px;
    background-color: #FFBA5C;
} 

/*----- main -----*/

.container--main {
    display: flex;
    flex-direction: column;
}

/*----- seção Home ------*/

.container--main_section--home {
    z-index: -2;
    width: 100%;
    height: 108vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: #164467;
}
@media (max-width: 1440px) {
    .container--main_section--home {
        height: 100vh;
    }
}
@media (max-width: 1366px) {
    .container--main_section--home {
        height: 100vh;
    }
}
@media (max-width: 1024px) {
    .container--main_section--home {
        height: 90vh;
    }
}
@media (max-width: 425px) {
    .container--main_section--home {
        align-items: center;
    }
}
.section--home_container--textHome{
    z-index: 0;
    position: absolute;
    width: 90%;
    height: 60vh;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
}
@media (max-width: 1440px) {
    .section--home_container--textHome {
        height: 70vh;
    }
}
@media (max-width: 1366px) {
    .section--home_container--textHome {
        height: 70vh;
    }
}
@media (max-width: 1024px) {
    .section--home_container--textHome {
        height: 59vh;
    }
}
@media (max-width: 768px) {
    .section--home_container--textHome {
        height: 63vh;
    }
}
@media (max-width: 425px) {
    .section--home_container--textHome {
		height: 71vh;
		justify-content: center;
    }
}
.container--textHome_box--text {
	width: 94%;
}
@media (max-width: 425px) {
    .container--textHome_box--text {
        width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
    }
}

.box--text_title {
    height: 11vh;
    display: flex;
    align-items: flex-start;
    font-size: 53px;
    color: #FFBA5C;
    margin: 0;
    font-family: 'Nunito ExtraBold'
}
@media (max-width: 1360px) {
	.box--text_title {
		font-size: 48px;
    }
}
@media (max-width: 1024px) {
	.box--text_title {
		font-size: 37px;
    }
}
@media (max-width: 768px) {
	.box--text_title {
		/* width: 50%;
   		height: 13vh; */
		font-size: 29px;
	}
}
@media (max-width: 425px) {
	.box--text_title {
		width: 90%;
   		height: 13vh;
		font-size: 32px;
	}
}
@media (max-width: 375px) {
	.box--text_title {
		width: 100%;
		font-size: 29px;
	}
}
@media (max-width: 320px) {
	.box--text_title {
		font-size: 28px;
	}
}
.box--text_text--introduction {
    width: 27%;
    line-height: 25px;
    font-size: 16px;
    color: #FFFFFF;
    margin: 0;
    font-family: 'NunitoSans Regular'
}
@media (max-width: 1440px) {
    .box--text_text--introduction {
        width: 25%;
    }
}
@media (max-width: 1366px) {
    .box--text_text--introduction {
        width: 27%;
    }
}
@media (max-width: 1024px) {
    .box--text_text--introduction {
        width: 34%;
    }
}
@media (max-width: 768px) {
    .box--text_text--introduction {
        width: 45%;
    }
}
@media (max-width: 425px) {
    .box--text_text--introduction {
        width: 88%;
		height: 43%;
		display: flex;
		align-items: flex-end;
    }
}
@media (max-width: 375px) {
    .box--text_text--introduction {
        width: 100%;
    }
}

.section--home_container--imageBackground {
	display: flex;
    align-items: flex-end;
}
@media (max-width: 425px) {
    .section--home_container--imageBackground {
		width: 100%;
		overflow: hidden;
    	position: relative;
    }
}
.container--imageBackground_image--item {
    /* z-index: -1; */
	width: 100%;
	object-fit: cover;
}

@media(max-width: 425px) {
	.container--imageBackground_image--item {
		height: 40vh;
	}
}
@media(max-width: 375px) {
	.container--imageBackground_image--item {
		height: 35vh;
	}
}
@media(max-width: 320px) {
	.container--imageBackground_image--item {
		height: 41vh;
	}
}
/*----- seção blog ------*/

.container--main_section--blog{
    display: flex;
    justify-content: center;
}
.container--blog_container--slideBlog{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container--slideBlog_box--slideInfo{
    width: 25vw;
    min-height: 40vh;
    border-radius: 10px;
    box-shadow: 0px 2px 7px -2px rgba(0,0,0,0.75);
}
@media (max-width: 768px){
    .container--slideBlog_box--slideInfo{
        width: 35vw;
    }
    .tabletEdit {
        display:none; 
    }
}
@media (max-width: 425px){
    .container--slideBlog_box--slideInfo{
        width: 60vw; 
    }
}

.box--slideInfo_box--slideTxt{
    padding: 15px;
    min-height: 23vh;
}
.section--blog_container--blog{
    width: 90vw;
}
.box--textTitle_title{
    font-size:32px;
    font-family: 'Nunito ExtraBold';
    margin:2vh 0 8vh 2vw;
}
.box--slideImg_img{
    width: 100%;
}
@media (max-width: 425px){
    .mobile--none{
        display: none;  
    }
}
.box--slideTxt_slideTxt{
    margin: 0;
    padding: 0;
}
.box--slideTxt_slideTxt{
    font-family: 'NunitoSans Regular';
    color: #6C6C6C;
   
}
.box--slideTxt_slideTxt2{
    font-size: 18px;
    font-family: 'Nunito ExtraBold';
    color: #266294;
}
.box--slideTxt_slideTxtLink{
    font-family: 'NunitoSans Regular';
    color: #74B5E5;
    font-size:15px;
    margin:0;
    padding: 0;
    letter-spacing: 2.1px;
    text-decoration: none;
    text-transform: uppercase;
}
.container--main_section--SearchForPsychologist, .container-team {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	min-height: 90vh;
	margin-bottom: 2rem;
}

.box--section_container--txtTitleSearchForPsychologist,
.container-services__title-box,
.container-links__title-box,
.container-about__title-box,
.container-who__title-box {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 50%;
	padding-left: 5rem;
	margin-bottom: 2rem;
}

	@media(max-width: 425px) {
		.box--section_container--txtTitleSearchForPsychologist,
		.container-services__title-box,
		.container-links__title-box {
			padding-left: 2.18rem;
			margin-bottom: 1.5rem;
		}
	}

.container--txtTitleSearchForPsychologist_title,
.container-services__title,
.container-links__title,
.container-about__title {
	width: 100%;
	margin: 0;
	padding-left: 5px;
	font-size: 3rem;
	font-family: 'Nunito ExtraBold';
	color: #141414;
}

	@media(max-width: 425px) {
		.container--txtTitleSearchForPsychologist_title,
		.container-services__title,
		.container-links__title  {
			font-size: 1.75rem;
		}
	}

.container--txtTitleSearchForPsychologist_underline,
.container-services__underline,
.container-links__underline,
.container-about__underline,
.container-who__underline {
	width: 80%;
	height: 7px;
	border-radius: 10px;
	background: #FFBA5C;
}

.box--section_container--symptoms {
	display: flex;
	justify-content: space-evenly;
	align-self: center;
	width: 85%;
	margin-top: 3rem;
	font-family: 'NunitoSans Regular';
	font-size: 1.5rem;
}

.container--symptoms_container--itensSymptoms {
	width: 35%;
	padding: 3rem 0;
	color: #266294;
}

.container--symptoms_container--itensSymptoms p {
	margin: 2.5rem 0;
	cursor: pointer;
}

.container--symptoms_container--itensSymptoms p:nth-child(1) {
  margin-top: 0;
}

.container--symptoms_container--itensSymptoms p:hover {
  font-family: 'Nunito ExtraBold';
}

.container--symptoms_container--specificationSymptoms {
	display: flex;
	justify-content: center;
	width: 35%;
	min-height: 300px;
	height: 100%;
	padding: 3rem 4rem;
	padding-bottom: 6rem;
	border-radius: 14px;
	color: #141414;
	background: #FFBA5C30;
}

.container-services {
  display: flex;
	justify-content: center;
	width: 100%;
	min-height: 90vh;
	padding: 2rem 0;
	padding-top: 5rem;
	background: #FFBA5C30;
}

.container-services__title-box {
	width: 20%;
	height: 100%;
}

.container-services__underline {
	width: 60%;
}

.container-links__title-box {
	height: 100%;
}

.container-links__underline {
	width: 53%;
}

.container-about__underline {
    width: 26%;
}

.container-who__underline {
    width: 35%;
}

.container-links__title, .container-about__title {
	color: #fff;
}

.services-psicoterapist {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
}

.services-psicoterapist__box {
	width: 27%;
	margin: 0 2rem;
	margin-bottom: 2rem;
}

.services-psicoterapist__box img {
	width: 70%;
}

.services-psicoterapist__box h4 {
	width: 70%;
	margin-bottom: 0;
	font-family: 'Nunito ExtraBold';
	font-size: 2rem;
	color: #266294;
}

	@media(max-width: 425px) {
		.services-psicoterapist__box h4 {
			font-size: 1.375rem;
		}
	}

.services-psicoterapist__box p {
	width: 90%;
	font-family: 'NunitoSans Regular';
	font-size: 1.1rem;
	color: #141414;
}
	@media(max-width: 768px) {
		.services-psicoterapist__box p {
			font: Regular Nunito Sans;
			font-weight: 400;
			font-size: 1rem;
			color:#164467;
		}
	}
	@media(max-width: 425px) {
		.services-psicoterapist__box p {
			font: Regular Nunito Sans;
			font-weight: 400;
			font-size: 1rem;
			color:#164467;
			text-align: left;
		}
	}

.box--txtPresentation_txt {
    width: 50%;
    font-size: 1.25rem;
    font-family: 'Nunito ExtraBold'
}

.container-links {
	display: flex;
	width: 100%;
	min-height: 30vh;
	padding: 2rem 0;
	padding-top: 5rem;
	background: #266294;
}

	@media(max-width: 768px) {
		.container-links {
			flex-direction: column;	
		}
	}

.container-links__list {
	width: 50%;
	padding: 0;
	list-style: none;
}
	@media(max-width: 768px) {
		.container-links__list {
			width: 100%;
			padding-left: 2.18rem;
            margin-bottom: 1.5rem;
            box-sizing: border-box;
		}
	}

.container-links__list li {
	margin: .75rem 0;
	font-family: 'NunitoSans Regular';
	font-size: 1.5rem;
	text-decoration: underline;
	color: #fff;
	cursor: pointer;
}

	@media(max-width: 425px) {
		.container-links__list li {
			font-size: 1.10rem;
			font-family: 'Nunito ExtraBold'
		}
	}

.container--main_section--presentation {
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 940px;
    background-image: url('../img/Foto-Sobre.jpg');
    background-repeat: no-repeat;
}

.container-team__members-box {
    display: flex;
    align-self: center;
    width: 60%;
}

.container-team__members-box div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: flex-start;
    width: 25%;
}

.container-team__members-box img {
	width: 70%;
}

.container-team__members-box h4 {
    width: 70%;
	margin-bottom: 0;
	font-family: 'Nunito ExtraBold';
	font-size: 2rem;
	color: #266294;
}

.container-team__members-box p {
    width: 80%;
    margin-bottom: .5rem;
    font-family: 'Nunito ExtraBold';
    font-size: 1rem;
    color: #141414;
}

.container-team__members-box h5 {
    width: 70%;
    font-family: 'NunitoSans Regular';
    color: #266294;
}

@media (max-width: 800px) {
	.box--section_container--symptoms,
	.services-psicoterapist,
	.container--symptoms_container--specificationSymptoms,
	.container--symptoms_container--itensSymptoms,
	.services-psicoterapist__box {
		flex-direction: column;
		width: 92%;
	}

	.container--symptoms_container--itensSymptoms {
		padding-left: 2rem;
	}

	.container--symptoms_container--specificationSymptoms {
		padding: 1rem;
	}
	
	.box--section_container--txtTitleSearchForPsychologist, .container-services__title-box {
		width: 70%;
		padding-top: 1rem;
	}

		@media(max-width: 425px) {
			.box--section_container--txtTitleSearchForPsychologist, .container-services__title-box {
				padding-top: 5rem;
			}
		}

	.container-services, .services-psicoterapist__box p {
		flex-direction: column;
		width: 100%;
	}
	.services-psicoterapist__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-top: 2rem;
    }
    
    .container--main_section--presentation {
        min-height: 90vh;
        margin-bottom: 3rem;
    }

    .container-about__title-box, .container-who__title-box {
        align-self: center;
        width: 90%;
        padding-left: 2rem;
    }

    .container-about__underline {
        width: 66%;
    }

    .container-who__underline {
        width: 85%;
    }

    .box--txtPresentation_txt {
        width: 90%;
        margin-top: 3rem;
    }

    .container-team__members-box {
        flex-direction: column;
        width: 90%;
    }

    .container-team__members-box div {
        align-items: center;
        width: 100%;
        margin: 2rem 0;
    }

    .container-team__members-box img {
        width: 55%;
    }

    .container-team__members-box h4 {
        width: 90%;
        text-align: center;
    }

    .container-team__members-box p, .container-team__members-box h5 {
        font-size: 1rem;
        text-align: center;
    }
}
