body {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    margin: 0;
}


/*------ Menu fixo ------*/

.header--container {
    position: fixed;
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
}
.header--container_container--psitionHeader {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.container--psitionHeader_container--logo {
    width: 20%;
    display: flex;
    justify-content: center;
}
.container--logo_logo--fixed{
    width: 90%
}
.header--container_container--navegation {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.container--navegation_box--list {
    width: 74%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    list-style: none;
    font-size: 19px;
    margin: 0;
    padding-right: 39px;
}
.box--list_iten--list {
    color: #266294;
    font-family: 'NunitoSans Regular';
}
/* .box--list_iten--list:hover {
    color: pink;
} */
a { 
    display: flex;
    flex-direction: column;
    text-decoration: none
}
.box--list_iten--listUnderlineNone {
    width: 0;
    height: 0;
    /* transition: width 2s; */
}
.box--list_iten--listUnderline{
    width: 100%;
    height: 0.5vh;
    transition: width 0.5s;
    border-radius: 60px;
    background-color: #FFBA5C;
} 

/*----- main -----*/

.container--main {
    display: flex;
    flex-direction: column;
}

/*----- seção Home ------*/

.container--main_section--home {
    z-index: -2;
    width: 100%;
    height: 108vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: #164467;
}
@media (max-width: 1440px) {
    .container--main_section--home {
        height: 100vh;
    }
}
@media (max-width: 1366px) {
    .container--main_section--home {
        height: 100vh;
    }
}
@media (max-width: 1024px) {
    .container--main_section--home {
        height: 90vh;
    }
}
.section--home_container--textHome{
    z-index: 0;
    position: absolute;
    width: 90%;
    height: 60vh;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
}
@media (max-width: 1440px) {
    .section--home_container--textHome {
        height: 70vh;
    }
}
@media (max-width: 1366px) {
    .section--home_container--textHome {
        height: 70vh;
    }
}
@media (max-width: 1024px) {
    .section--home_container--textHome {
        height: 59vh;
    }
}
.container--textHome_box--text {
    width: 94%;
}
.box--text_title {
    height: 11vh;
    display: flex;
    align-items: flex-start;
    font-size: 45px;
    color: #FFBA5C;
    margin: 0;
    font-family: 'Nunito ExtraBold'
}
.box--text_text--introduction {
    width: 27%;
    line-height: 25px;
    font-size: 16px;
    color: #FFFFFF;
    margin: 0;
    font-family: 'NunitoSans Regular'
}
@media (max-width: 1440px) {
    .box--text_text--introduction {
        width: 25%;
    }
}
@media (max-width: 1366px) {
    .box--text_text--introduction {
        width: 27%;
    }
}
@media (max-width: 1024px) {
    .box--text_text--introduction {
        width: 34%;
    }
}
.container--imageBackground_image--item {
    /* z-index: -1; */
    width: 100%;
    /* top: 309px; */
}
/* @media (max-width: 1366px) {
    .container--imageBackground_image--item {
        /* height: 54vh; */
        /* top: 272px; */
    }
}
@media (max-width: 1024px) {
    .container--imageBackground_image--item {
        /* height: 48vh; */
        /* top: 424px; */
    }
} */